*:not(.__react_component_tooltip.type-dark) {
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

html,
body,
div#root {
  margin: 0;
}

html {
  background-color: rgb(255, 204, 0);
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

input:focus,
button:focus {
  outline: 0;
}
